<ion-view view-title="1. General">
 	 <ion-content padding="true">

  		<div ng-app="app">
		<h2>Please Fill Out the Form </h2>
		<div ng-controller="AppCtrl as post">
		<form  ng-submit="post.updateFactory()">
 		  <label class="item item-input">
  		  	<span class="input-label">Project Name</span>
  		    <input type="text" ng-model="post.data.projectName">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Date</span>
  		    <input type="text" ng-model="post.data.date">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Customer Name</span>
  		    <input type="text" ng-model="post.data.customerName">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label"> Email</span>
  		    <input type="text" ng-model="post.data.email">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Phone</span>
  		    <input type="text" ng-model="post.data.phone">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Address</span>
  		    <input type="text" ng-model="post.data.address">
  		  </label>

  		  <button class="button button-block button-positive" type="submit"> Save Data</button>
		</form>
		</div>
	
 	 </ion-content>
</ion-view>