<ion-view view-title="1. General">
 	 <ion-content padding="true">
   		 <h1>General</h1>

  		
  		<div ng-app="app">
		<h2> Form </h2>
		<div ng-controller="AppCtrl as post">
		<form  ng-submit="post.updateFactory()">
 		  <label class="item item-input">
  		  	<span class="input-label">Project Name</span>
  		    <input type="text" ng-model="post.data.projectName">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Date</span>
  		    <input type="text" ng-model="post.data.date">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Customer Name</span>
  		    <input type="text" ng-model="post.data.customerName">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label"> Email</span>
  		    <input type="text" ng-model="post.data.email">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Phone</span>
  		    <input type="text" ng-model="post.data.phone">
  		  </label>
  		  <label class="item item-input">
  		  	<span class="input-label">Address</span>
  		    <input type="text" ng-model="post.data.address">
  		  </label>

  		  <button class="button button-block button-positive" type="submit">Add Name</button>
		</form>


		<p>Project Name is: {{post.getProjectName()}} </p>
		<p>Date is: {{post.getDate()}} </p>
		</div>
	
 	 </ion-content>
</ion-view>