<ion-view title="1. General Data">
    <ion-content padding="true">
    <div ng-app="ionicApp">
     <div ng-controller="FormCtrl as list">
      <h2>Inputs</h2>
  		<form ng-submit="updateFruit(fruit)">
        <div class="list">
        Apples:
          <label class="item item-input" >
            <input type="number" placeholder="Apples" ng-model="fruit.apples">
          </label>
          Oranges:
          <label class="item item-input">
            <input type="number" placeholder="Oranges" ng-model="fruit.oranges">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Update the Fruit</button>
        </div>
      	</form>
      	</div>

		<h2>Results</h2>
      <p>This is where it all begins.</p>
      apples: {{ apples }}
      <br>
      oranges: {{ oranges }}
      <br>
      fruit: {{apples + oranges}}
      <br>
      apples: <input type="number" ng-model="fruit.apples">
      {{ fruit.apples}}

      </div>
     </div>
    </ion-content>
 </ion-view>